.Button{
    position:relative;
    border: none;
    border-radius: 10px 10px 0px 0px;
    width: 170px;
    height: 50px;
    cursor: pointer;
    background-color: #F4F9F9;
    font-size: 14px;
    transition: bottom 1s ease;
    margin: 2px;
}
.Button::after{
    position:absolute;
    content: "";
    left: 0; /*left tọa độ Y, bottom tọa độ X*/
    bottom: 0;
    height: 2px;
    width: 100%;
    background-color: #202d3b;
    transform: scaleX(0); /*Ban đầu kích thước là 0*/
    transform-origin: center; /*Từ giữa bung ra*/
    transition: transform 0.5s ease;

}
.Button.active::after{
     transform: scaleX(1);

}
.Button:hover,
.Button.active{
    bottom: 10px;
    background-color: #202d3b0a;
}